@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #16f2b3;
  --primary-hover: #14dba2;
  --background: #0d1224;
  --text-base: #d3d8e8;
  --text-muted: #9ca3af;
  --accent: #ec4899;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #16f2b3;
    --primary-hover: #14dba2;
    --background: #0d1224;
    --text-base: #d3d8e8;
    --text-muted: #9ca3af;
    --accent: #ec4899;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
  }

  body {
    color: var(--text-base);
    background-color: var(--background);
  }

  ::selection {
    background-color: var(--accent);
    color: white;
  }
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}

.sticky-card {
  // padding-top: calc(var(--index) * 2.5rem);
  top: calc(var(--index) * 4rem);
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--text-muted);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}